<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <!--<h1>Your age is {{ age }} , {{ username }}</h1>-->
    <h1>Your details are Username: {{ userDetails[0] }}, Email: {{ userDetails[1] }},Password Verification: {{ userDetails[2] }}, Age: {{ userDetails[3] }}. </h1>
</body>
</html>